.board {
    display: inline-block;
    margin: 10px;
}

.cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-sizing: border-box;
}

.ship {
    background-color: grey;
}

.hit {
    background-color: red;
}

.miss {
    background-color: blue;
}

